<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modification de mot de passe</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-[80%] mx-auto bg-slate-50 rounded-lg my-5 p-5">
        <p class="first">Voici votre code de reinitialisation: <span class="text-xl bg-gray-500 font-bold rounded-lg p-1"><%=code %></span></p>
        <p class="last">Veuillez cliquer sur ce lien pour modifier votre mot de passe : <a href="http://localhost:4200/reset-password" target="_blank" rel="noopener noreferrer"><%=url%></a> <br>
            Ce code expire dans 15 minutes
        </p>
    </div>
</body>
</html>